Repository ghjm/connectopus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-lint, build-platforms

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: golangci-lint
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: ui-lint
        name: UI linting & formatting
        files: \.tsx?$
        types: [file]
        language: script
        entry: .pre-commit-scripts/ui-lint.sh
      - id: build-platforms
        name: Build Platforms
        files: \.go$
        types: [file]
        language: script
        entry: .pre-commit-scripts/build-platforms.sh

Fix gosec warning
  pkg/netopus/netopus.go
Due: build-platforms

Bump express, body-parser, send, serve-static
  ui/package-lock.json
  ui/package.json
Due: none

Downgrade typescript and typescript-eslint for compatibility
  ui/package-lock.json
  ui/package.json
Due: none

Combined Dependabot updates
  .golangci.yml
  Makefile
  go.mod
  go.sum
  pkg/cpctl/gencli/gencli.go
  pkg/cpctl/gql_client_gen.go
  pkg/cpctl/gql_runtime_gen.go
  pkg/localui/gencli/gencli.go
  pkg/localui/gql_client_gen.go
  pkg/localui/gql_runtime_gen.go
  ui/package-lock.json
  ui/package.json
Due: build-platforms

Fix linter errors
  cmd/connectopus/connectopus.go
  internal/ui_embed/routegen/routegen.go
  pkg/backends/channel_runner/channel_runner_test.go
  pkg/connectopus/connectopus.go
  pkg/links/tun/tun_linux.go
  pkg/netstack/netstack_test.go
Due: build-platforms

Force use of bash
  Makefile
Due: none

Fix formatting
  pkg/netopus/netopus.go
Due: build-platforms

Remove non-working Go build dir caching
  .github/workflows/ci_checks.yml
Due: none

Update Node version
  .github/workflows/ci_checks.yml
Due: none

Update dependencies
  ui/package-lock.json
  ui/package.json
Due: none

Update Go version
  .github/workflows/ci_checks.yml
Due: none

Update to Patternfly 6 and rewrite as needed
  .pre-commit-scripts/ui-lint.sh
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
  ui/patches/urql+4.2.2.patch
  ui/src/app/AppLayout/AppLayout.css
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/Config/Config.tsx
  ui/src/app/GraphQL/GraphQL.tsx
  ui/src/app/Network/Network.tsx
  ui/src/app/NotFound/NotFound.tsx
  ui/src/app/Status/Status.tsx
  ui/src/app/Unauthorized/Unauthorized.tsx
  ui/src/app/Unconfigured/Layout.tsx
  ui/src/app/Unconfigured/MultiNode.tsx
  ui/src/app/app.css
  ui/src/app/routes.tsx
  ui/src/index.tsx
  ui/src/typings.d.ts
  ui/webpack.common.js
  ui/webpack.dev.js
  ui/webpack.prod.js
Due: ui-lint

Update doc & env
  .envrc
  CONTRIBUTING.md
Due: none

Optimize webpack performance
  ui/.gitignore
  ui/Makefile
  ui/webpack.common.js
  ui/webpack.dev.js
  ui/webpack.prod.js
Due: none

Update Dependabot token so pull action happens
  .github/workflows/dependabot.yml
Due: none

Update gvisor to latest
  go.mod
  go.sum
Due: none

Use GNU find on Windows
  Makefile
Due: none

Remove react-page-visibility so we can update urql
  ui/package-lock.json
  ui/package.json
  ui/patches/urql+4.2.2.patch
  ui/src/app/Config/Config.tsx
  ui/src/app/Network/Network.tsx
  ui/src/app/Status/Status.tsx
Due: ui-lint
