Repository ghjm/connectopus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-lint, build-platforms

ui-lint:
  name: UI linting & formatting
  language: script
  entry: .pre-commit-scripts/ui-lint.sh

build-platforms:
  name: Build Platforms
  language: script
  entry: .pre-commit-scripts/build-platforms.sh

Fix config window height
  ui/Makefile
  ui/package-lock.json
  ui/package.json
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/Config/Config.tsx
Due: ui-lint

Update to Patternfly v5
  ui/package-lock.json
  ui/package.json
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/NotFound/NotFound.tsx
  ui/src/app/Status/Status.tsx
  ui/src/app/Unauthorized/Unauthorized.tsx
  ui/src/app/Unconfigured/Layout.tsx
Due: ui-lint

Improve demo
  Makefile
  cmd/connectopus/connectopus.go
  demo.sh
  pkg/links/tun/tun_linux.go
  pkg/links/tun/tun_stub.go
Due: build-platforms

Add Dependabot groups
  .github/dependabot.yml
Due: none

Update generated client
  pkg/cpctl/gql_client_gen.go
Due: build-platforms

Remove unused option
  ui/package.json
Due: none

Fix formatting
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/index.tsx
  ui/src/app/routes.tsx
  ui/stylePaths.js
  ui/webpack.common.js
Due: ui-lint

Update generated code
  pkg/cpctl/gql_client_gen.go
  pkg/localui/gql_client_gen.go
Due: build-platforms

Suppress root model generation
  pkg/cpctl/gqlgen.yml
  pkg/localui/gqlgen.yml
Due: none

Update generated files
  pkg/cpctl/gql_runtime_gen.go
Due: build-platforms

Update generated files
  pkg/cpctl/gql_client_gen.go
  pkg/localui/gql_client_gen.go
Due: build-platforms

Disable unused-parameter check
  .golangci.yml
Due: none

Bump gqlgen and gqlgenc versions
  go.mod
  go.sum
  pkg/cpctl/gql_client_gen.go
  pkg/localui/gql_client_gen.go
Due: build-platforms

Update eslint to flat config format
  .github/workflows/ci_checks.yml
  ui/eslint.config.js
  ui/package-lock.json
  ui/package.json
Due: none

Update format checking in lint
  .github/workflows/ci_checks.yml
  Makefile
  ui/Makefile
  ui/eslint.config.js
  ui/package.json
Due: none

Back off eslint upgrade
  ui/package-lock.json
  ui/package.json
Due: none

Update generated files
  pkg/cpctl/gql_client_gen.go
Due: build-platforms

Update generated files & deps
  go.mod
  go.sum
  pkg/cpctl/gql_runtime_gen.go
  pkg/localui/gql_runtime_gen.go
Due: build-platforms

Remove obsolete script
  profile.sh
Due: none

Update for new golangci-lint version
  .golangci.yml
  cmd/connectopus/connectopus.go
  pkg/backends/backend_dtls/backend_dtls_test.go
  pkg/backends/backend_tcp/backend_tcp.go
  pkg/backends/backend_tcp/backend_tcp_test.go
  pkg/config/params.go
  pkg/links/tun/tun_test.go
  pkg/netopus/netopus.go
  pkg/netopus/oob_conn_test.go
  pkg/netstack/netstack_channel.go
  pkg/netstack/netstack_fdbased.go
  pkg/netstack/netstack_test.go
  pkg/proto/tcpip.go
  pkg/services/services.go
Due: build-platforms

Update NPM packages
  ui/package-lock.json
  ui/package.json
  ui/src/app/AppLayout/AppLayout.tsx
Due: ui-lint

Fix gosec warning
  pkg/netopus/netopus.go
Due: build-platforms

Path conditions:
  ui-lint: any of: \.tsx?$
  build-platforms: any of: \.go$
