Repository ghjm/connectopus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-lint, build-platforms

ui-lint:
  name: UI linting & formatting
  language: script
  entry: .pre-commit-scripts/ui-lint.sh

build-platforms:
  name: Build Platforms
  language: script
  entry: .pre-commit-scripts/build-platforms.sh

Add build instructions
  Makefile
  README.md
Due: none

Avoid triggering CI workflow for non-code changes
  .github/workflows/ci_checks.yml
Due: none

Add a logo
  README.md
  docs/logo.png
Due: none

Add GIMP file of logo
  docs/connectopus.xcf
Due: none

De-genericize router
  pkg/netopus/netopus.go
  pkg/router/router.go
Due: build-platforms

Add subnet routing
  cmd/connectopus/connectopus.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/netopus/netopus.go
  pkg/netopus/netopus_test.go
  pkg/netstack/netstack.go
  pkg/netstack/netstack_channel.go
  pkg/netstack/netstack_fdbased.go
  pkg/netstack/netstack_test.go
  pkg/netstack/stacks_linux.go
  pkg/netstack/stacks_nonlinux.go
  pkg/proto/proto.go
  pkg/proto/proto_test.go
  pkg/proto/tcpip.go
  pkg/proto/tcpip_test.go
  pkg/router/router.go
  pkg/router/router_test.go
  test.yml
Due: build-platforms

Increase timeout for slow GitHub Actions runners
  .golangci.yml
Due: none

Update README
  README.md
Due: none

Add DebugStrings
  pkg/proto/tcpip.go
Due: build-platforms

Simplify status reporting
  cmd/cpctl/cpctl.go
  pkg/cpctl/cpctl_resolver.go
  pkg/cpctl/gql_client_gen.go
  pkg/cpctl/gql_models_gen.go
  pkg/cpctl/gql_runtime_gen.go
  pkg/cpctl/graphql/_schema.graphqls
  pkg/cpctl/graphql/status.graphql
Due: build-platforms

Update case sensitive paths
  internal/ui_embed/ui_embed.go
Due: build-platforms

Add network visualization
  Makefile
  internal/ui_embed/routegen/routegen.go
  internal/ui_embed/routes_gen.go
  internal/ui_embed/ui_embed.go
  pkg/cpctl/cpctl_resolver.go
  ui/package-lock.json
  ui/package.json
  ui/src/app/Dashboard/Dashboard.tsx
  ui/src/app/Network/Network.tsx
  ui/src/app/Settings/Settings.tsx
  ui/src/app/Status/Status.tsx
  ui/src/app/images/node.png
  ui/src/app/index.tsx
  ui/src/app/routes.tsx
  ui/webpack.dev.js
Due: ui-lint, build-platforms

Re-generate graph layout on data change
  internal/ui_embed/routegen/routegen.go
  pkg/netopus/netopus.go
  ui/package-lock.json
  ui/package.json
  ui/src/app/Network/Network.tsx
Due: ui-lint, build-platforms

Connection costs
  cmd/connectopus/connectopus.go
  pkg/backends/backend_dtls/backend_dtls.go
  pkg/backends/backend_dtls/backend_dtls_test.go
  pkg/backends/backend_pair/backend_pair.go
  pkg/backends/backend_registry/backend_registry.go
  pkg/backends/backends.go
  pkg/backends/channel_runner/channel_runner.go
  pkg/backends/channel_runner/channel_runner_test.go
  pkg/config/config.go
  pkg/links/tun/tun_linux.go
  pkg/netopus/netopus.go
  test.yml
  ui/src/app/Network/Network.tsx
Due: ui-lint, build-platforms

Add backend API proxying
  cmd/connectopus/connectopus.go
  cmd/cpctl/cpctl.go
  pkg/config/config.go
  pkg/cpctl/cpctl_client.go
  pkg/cpctl/cpctl_proxy.go
  pkg/cpctl/cpctl_resolver.go
  pkg/cpctl/cpctl_server.go
  pkg/cpctl/cpctl_test.go
  pkg/netopus/netopus.go
  pkg/netopus/netopus_test.go
  pkg/proto/netopus.go
  test.yml
Due: build-platforms

Add UI for node proxying
  pkg/cpctl/cpctl_server.go
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/GraphQL/GraphQL.tsx
  ui/src/app/Network/Network.tsx
  ui/src/app/index.tsx
  ui/webpack.dev.js
Due: ui-lint, build-platforms

Run Mac & Windows only if Linux succeeds
  .github/workflows/ci_checks.yml
Due: none

Use SubscribeUpdates for mesh convergence detection
  pkg/netopus/netopus.go
  pkg/netopus/netopus_test.go
  pkg/proto/netopus.go
  pkg/proto/proto.go
  pkg/router/router.go
  pkg/router/router_test.go
Due: build-platforms

Drain channel on unsubscribe
  pkg/x/broker/broker.go
Due: build-platforms

Make DTLS PSK and certs configurable
  pkg/backends/backend_dtls/backend_dtls.go
  pkg/backends/backend_dtls/backend_dtls_test.go
  pkg/config/config.go
  test.yml
Due: build-platforms

Clean up unneeded packages
  pkg/links/links_test.go
  pkg/links/netns/netns_linux.go
  pkg/links/netns/netns_stub.go
  pkg/links/tun/tun_linux.go
  pkg/links/tun/tun_stub.go
  pkg/x/chanreader/packet_publisher.go
  pkg/x/modifiers/modifiers.go
  pkg/x/modifiers/modifiers_test.go
  pkg/x/timerunner/timerunner.go
Due: build-platforms

Make netstack MTU configurable
  cmd/connectopus/connectopus.go
  pkg/backends/backend_dtls/backend_dtls.go
  pkg/backends/backends.go
  pkg/config/config.go
  pkg/netopus/netopus.go
  pkg/netopus/netopus_test.go
  pkg/netstack/netstack.go
  pkg/netstack/netstack_channel.go
  pkg/netstack/netstack_fdbased.go
  pkg/netstack/netstack_test.go
  pkg/netstack/stacks_linux.go
  pkg/netstack/stacks_nonlinux.go
Due: build-platforms

Create dependabot.yml
  .github/dependabot.yml
Due: none

Add SSH-based JWT tokens
  cmd/connectopus/connectopus.go
  cmd/cpctl/cpctl.go
  go.mod
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/cpctl/cpctl_resolver.go
  pkg/cpctl/gql_client_gen.go
  pkg/cpctl/gql_models_gen.go
  pkg/cpctl/gql_runtime_gen.go
  pkg/cpctl/graphql/_schema.graphqls
  pkg/cpctl/graphql/status.graphql
  pkg/proto/ssh_keys.go
  pkg/proto/ssh_keys_test.go
  pkg/proto/tcpip_test.go
  pkg/x/ssh_jwt/ssh_jwt.go
  pkg/x/termios/termios_consts_bsd.go
  pkg/x/termios/termios_consts_other.go
  pkg/x/termios/termios_other.go
  pkg/x/termios/termios_unix.go
Due: build-platforms

Add platform builds
  .gitignore
  .pre-commit-scripts/build-platforms.sh
  Makefile
  cmd/cpctl/cpctl.go
  go.mod
  go.sum
  pkg/netopus/netopus_test.go
  pkg/x/termios/termios_consts_bsd.go
  pkg/x/termios/termios_consts_other.go
  pkg/x/termios/termios_other.go
  pkg/x/termios/termios_unix.go
Due: build-platforms

Only show icon on real nodes
  ui/Makefile
  ui/package-lock.json
  ui/package.json
  ui/src/app/Network/Network.tsx
Due: ui-lint

Create dependabot.yml
  .github/workflows/dependabot.yml
Due: none

Add automated latest release
  .github/workflows/ci_checks.yml
  .github/workflows/dependabot.yml
Due: none

Add publish via workflow dispatch
  .github/workflows/ci_checks.yml
Due: none

Don't use .app for MacOS binaries
  Makefile
Due: none

Update release message
  .github/workflows/ci_checks.yml
Due: none

Keep latest tag updated
  .github/workflows/ci_checks.yml
Due: none

Add ability to skip platform checks
  .github/workflows/ci_checks.yml
Due: none

Check out repo
  .github/workflows/ci_checks.yml
Due: none

Run publish step even if platforms skipped
  .github/workflows/ci_checks.yml
Due: none

Add actions to Dependabot
  .github/dependabot.yml
Due: none

Bump actions versions
  .github/workflows/ci_checks.yml
Due: none

Disable structcheck linter
  .golangci.yml
Due: none

Combine connectopus and cpctl
  Makefile
  cmd/connectopus/connectopus.go
  cmd/cpctl/cpctl.go
  ui/Makefile
Due: build-platforms

Path conditions:
  ui-lint: any of: \.tsx?$
  build-platforms: any of: \.go$
