Repository ghjm/connectopus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-lint, build-platforms

ui-lint:
  name: UI linting & formatting
  language: script
  entry: .pre-commit-scripts/ui-lint.sh

build-platforms:
  name: Build Platforms
  language: script
  entry: .pre-commit-scripts/build-platforms.sh

Improve make on Windows
  .github/workflows/ci_checks.yml
  Makefile
  ui/Makefile
Due: none

Retry OOBPacketConn send
  pkg/netopus/oob_conn_test.go
Due: build-platforms

Add .editorconfig
  .editorconfig
Due: none

Set config indent to 2
  pkg/cpctl/cpctl_resolver.go
Due: build-platforms

Sanitize input values
  internal/ui_embed/ui_embed.go
Due: build-platforms

Use gh to approve Dependabot PRs
  .github/workflows/dependabot.yml
Due: none

Use ncat explicitly
  test.yml
Due: none

Update generated runtimes
  pkg/cpctl/gql_runtime_gen.go
  pkg/localui/gql_runtime_gen.go
Due: build-platforms

Remove deprecated ioutil
  cmd/connectopus/connectopus.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/connectopus/connectopus.go
  pkg/cpctl/cpctl_test.go
  pkg/links/netns/netns_linux.go
  pkg/netstack/netstack_test.go
  pkg/x/file_cleaner/file_cleaner_test.go
  pkg/x/ssh_jwt/ssh_agent.go
Due: build-platforms

Update generated clients
  pkg/cpctl/cpctl_client.go
  pkg/cpctl/gql_client_gen.go
  pkg/localui/gql_client_gen.go
Due: build-platforms

Force rebase Dependabot PRs
  .github/workflows/dependabot-merge.yml
  .github/workflows/dependabot-rebase.yml
Due: none

Revert "Force rebase Dependabot PRs"
  .github/workflows/dependabot-rebase.yml
  .github/workflows/dependabot.yml
Due: none

Update generated files
  pkg/cpctl/gql_runtime_gen.go
  pkg/localui/gql_runtime_gen.go
Due: build-platforms

Update generated files
  pkg/cpctl/gql_client_gen.go
Due: build-platforms

Update generated files
  pkg/cpctl/gql_models_gen.go
Due: build-platforms

Get UI working again
  ui/package-lock.json
  ui/package.json
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/index.tsx
  ui/src/app/routes.tsx
Due: ui-lint

Update generated code
  pkg/cpctl/gql_runtime_gen.go
Due: build-platforms

Update to Go 1.20 and latest gVisor
  cmd/connectopus/connectopus.go
  go.mod
  go.sum
  pkg/cpctl/cpctl_resolver.go
  pkg/netopus/netopus.go
  pkg/netstack/netstack_channel.go
  pkg/netstack/netstack_fdbased.go
  pkg/netstack/netstack_test.go
  pkg/proto/proto_test.go
Due: build-platforms

Rename ParentEqual to ShallowEqual and remove deprecated ioutil references
  pkg/connectopus/connectopus.go
  pkg/x/reconciler/reconciler.go
  pkg/x/reconciler/reconciler_test.go
Due: build-platforms

Move accept loop to its own package
  pkg/services/services.go
  pkg/x/accept_loop/accept_loop.go
Due: build-platforms

[WIP] Add TCP and UDP proxies
  pkg/config/config.go
  pkg/connectopus/connectopus.go
  pkg/netopus/netopus.go
  pkg/proto/netopus.go
  pkg/proto/proto.go
  pkg/proxies/proxies.go
  pkg/proxies/proxies_test.go
  pkg/proxies/proxy_tcp.go
  pkg/proxies/proxy_udp.go
  pkg/router/router.go
  pkg/x/cmrand/cmrand.go
Due: build-platforms

Update to Go 1.20 and latest gVisor
  .github/workflows/ci_checks.yml
  Makefile
  cmd/connectopus/connectopus.go
  go.mod
  go.sum
  pkg/cpctl/cpctl_resolver.go
  pkg/links/tun/tun_test.go
  pkg/netopus/netopus.go
  pkg/netstack/netstack_channel.go
  pkg/netstack/netstack_fdbased.go
  pkg/netstack/netstack_test.go
  pkg/proto/proto_test.go
  pkg/x/exit_handler/exit_handler.go
  ui/Makefile
Due: build-platforms

Dependency updates
  go.mod
  go.sum
  pkg/cpctl/gql_runtime_gen.go
  pkg/localui/gql_runtime_gen.go
  ui/package-lock.json
Due: build-platforms

Increase goleak timeouts
  go.mod
  go.sum
  pkg/backends/backend_dtls/backend_dtls_test.go
  pkg/links/links_test.go
  pkg/netopus/netopus_test.go
  pkg/netopus/oob_conn_test.go
Due: build-platforms

Update to Patternfly v5
  ui/package-lock.json
  ui/package.json
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/NotFound/NotFound.tsx
  ui/src/app/Status/Status.tsx
  ui/src/app/Unauthorized/Unauthorized.tsx
  ui/src/app/Unconfigured/Layout.tsx
Due: ui-lint

Update formatting
  internal/ui_embed/ui_embed.go
  pkg/proto/ssh_keys.go
  pkg/proto/tcpip.go
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/NotFound/NotFound.tsx
  ui/src/app/Unauthorized/Unauthorized.tsx
  ui/src/app/Unconfigured/Layout.tsx
Due: ui-lint, build-platforms

Fix config window height
  ui/Makefile
  ui/package-lock.json
  ui/package.json
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/Config/Config.tsx
Due: ui-lint

Path conditions:
  ui-lint: any of: \.tsx?$
  build-platforms: any of: \.go$
