Repository ghjm/connectopus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-lint, build-platforms

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: golangci-lint
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: ui-lint
        name: UI linting & formatting
        files: \.tsx?$
        types: [file]
        language: script
        entry: .pre-commit-scripts/ui-lint.sh
      - id: build-platforms
        name: Build Platforms
        files: \.go$
        types: [file]
        language: script
        entry: .pre-commit-scripts/build-platforms.sh

Revert "Test code change"
  cmd/connectopus/connectopus.go
Due: build-platforms

Don't block cancelling
  .github/workflows/ci_checks.yml
Due: none

Another test commit with a code change
  cmd/connectopus/connectopus.go
Due: build-platforms

Revert "Another test commit with a code change"
  cmd/connectopus/connectopus.go
Due: build-platforms

Add simple Docker image build
  .github/workflows/ci_checks.yml
Due: none

Add Dockerfile to source paths
  .github/workflows/ci_checks.yml
Due: none

Add simple Dockerfile
  Dockerfile
Due: none

Set binary as executable
  Dockerfile
Due: none

No more need for WinCommand
  pkg/services/services.go
  pkg/services/services_test.go
Due: build-platforms

Allow running services inside namespaces
  pkg/config/config.go
  pkg/connectopus/connectopus.go
  pkg/links/netns/netns_linux.go
  pkg/links/netns/netns_stub.go
  pkg/x/reconciler/reconciler.go
  pkg/x/reconciler/reconciler_test.go
  test.yml
Due: build-platforms

Don't break on config file with no keys
  cmd/connectopus/connectopus.go
  test.yml
Due: build-platforms

Fix service test on Windows
  pkg/services/services_test.go
Due: build-platforms

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Add GitHub buttons
  ui/package-lock.json
  ui/package.json
  ui/src/app/AppLayout/AppLayout.tsx
Due: ui-lint

Send network update when external routes/names change
  pkg/netopus/netopus.go
Due: build-platforms

Add config last updated time to status
  cmd/connectopus/connectopus.go
  pkg/cpctl/cpctl_resolver.go
  pkg/cpctl/gql_client_gen.go
  pkg/cpctl/gql_models_gen.go
  pkg/cpctl/gql_runtime_gen.go
  pkg/cpctl/graphql/_schema.graphqls
  pkg/cpctl/graphql/status.graphql
Due: build-platforms

Add demo script
  demo.sh
Due: none

Force correct package.json version when building
  Makefile
Due: none

Add jq to required packages
  CONTRIBUTING.md
Due: none

Move ui version check to ui target
  Makefile
Due: none

Make keepalives work better
  pkg/netopus/netopus.go
  pkg/proto/proto.go
Due: build-platforms

Add local UI GraphQL API
  cmd/connectopus/connectopus.go
  internal/ui_embed/proxy.go
  internal/ui_embed/ui_embed.go
  pkg/connectopus/connectopus.go
  pkg/cpctl/cpctl_proxy.go
  pkg/cpctl/cpctl_server.go
  pkg/localui/gencli/gencli.go
  pkg/localui/gql_client_gen.go
  pkg/localui/gql_models_gen.go
  pkg/localui/gql_runtime_gen.go
  pkg/localui/gqlgen.yml
  pkg/localui/graphql/_schema.graphqls
  pkg/localui/graphql/sshKeys.graphql
  pkg/localui/localui.go
  pkg/localui/localui_resolver.go
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/index.tsx
Due: ui-lint, build-platforms

Better handling of nav footer
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/app.css
Due: ui-lint

Show route detail on failure
  pkg/links/tun/tun_linux.go
Due: build-platforms

Disable root tests for now
  .github/workflows/ci_checks.yml
Due: none

UI detection of SSH agent and node
  cmd/connectopus/connectopus.go
  go.mod
  go.sum
  pkg/cpctl/cpctl_client.go
  pkg/localui/localui.go
  pkg/x/ssh_jwt/ssh_agent.go
  ui/src/app/Unauthorized/Unauthorized.tsx
  ui/src/app/Unconfigured/NoAgent.tsx
  ui/src/app/Unconfigured/NoNode.tsx
  ui/src/app/index.tsx
  ui/src/app/routes.tsx
Due: ui-lint, build-platforms

Switch to esbuild
  ui/package-lock.json
  ui/package.json
  ui/webpack.common.js
Due: none

Fix linter issue
  ui/webpack.common.js
Due: none

Add UI for error conditions & add linters
  .golangci.yml
  Makefile
  cmd/connectopus/connectopus.go
  pkg/backends/channel_runner/channel_runner.go
  pkg/connectopus/connectopus.go
  pkg/cpctl/cpctl_client.go
  pkg/cpctl/cpctl_server.go
  pkg/cpctl/cpctl_test.go
  pkg/dns/dns.go
  pkg/links/netns/netns_test.go
  pkg/links/tun/tun_linux.go
  pkg/links/tun/tun_test.go
  pkg/localui/gql_client_gen.go
  pkg/localui/gql_models_gen.go
  pkg/localui/gql_runtime_gen.go
  pkg/localui/localui.go
  pkg/localui/localui_resolver.go
  pkg/netopus/netopus.go
  pkg/netopus/netopus_test.go
  pkg/netopus/oob_conn.go
  pkg/netopus/oob_conn_test.go
  pkg/netstack/netstack_channel.go
  pkg/netstack/netstack_test.go
  pkg/proto/ssh_keys_test.go
  pkg/proto/tcpip.go
  pkg/router/router.go
  pkg/services/services.go
  pkg/x/bridge/bridge.go
  pkg/x/reconciler/reconciler.go
  pkg/x/reconciler/reconciler_test.go
  pkg/x/ssh_jwt/ssh_agent.go
  pkg/x/ssh_jwt/ssh_jwt_test.go
  pkg/x/statemachine/statemachine_test.go
  pkg/x/timerunner/timerunner_test.go
  ui/package-lock.json
  ui/src/app/Unconfigured/MultiNode.tsx
  ui/src/app/index.tsx
Due: ui-lint, build-platforms

Update generated files
  pkg/localui/gql_client_gen.go
  pkg/localui/gql_models_gen.go
  pkg/localui/gql_runtime_gen.go
  pkg/localui/localui_resolver.go
Due: build-platforms

Don't run platform checks unless linux_checks succeeded
  .github/workflows/ci_checks.yml
Due: none

Allow selecting node by UI
  cmd/connectopus/connectopus.go
  pkg/localui/gql_client_gen.go
  pkg/localui/gql_models_gen.go
  pkg/localui/gql_runtime_gen.go
  pkg/localui/graphql/_schema.graphqls
  pkg/localui/graphql/sshKeys.graphql
  pkg/localui/localui.go
  pkg/localui/localui_resolver.go
  ui/src/app/Unconfigured/Layout.tsx
  ui/src/app/Unconfigured/MultiNode.tsx
  ui/src/app/Unconfigured/NoAgent.tsx
  ui/src/app/Unconfigured/NoNode.tsx
  ui/webpack.dev.js
Due: ui-lint, build-platforms

Fix init command
  cmd/connectopus/connectopus.go
Due: build-platforms

Config viewing
  ui/package-lock.json
  ui/package.json
  ui/src/app/AppLayout/AppLayout.tsx
  ui/src/app/Config/Config.tsx
  ui/src/app/Unauthorized/Unauthorized.tsx
  ui/src/app/app.css
  ui/src/app/routes.tsx
  ui/webpack.dev.js
  ui/webpack.prod.js
Due: ui-lint

Update generated routes
  internal/ui_embed/routes_gen.go
Due: build-platforms

Remove separate goroutine to avoid data race
  pkg/netopus/netopus.go
Due: build-platforms

Increase timeout for slow GitHub runners
  pkg/netopus/oob_conn_test.go
Due: build-platforms

Improve Makefile on Windows
  Makefile
  ui/Makefile
Due: none

Make make work on Windows
  Makefile
Due: none

Install choco packages on Windows runner
  .github/workflows/ci_checks.yml
Due: none
