Repository ghjm/connectopus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ui-lint, build-platforms

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: golangci-lint
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: ui-lint
        name: UI linting & formatting
        files: \.tsx?$
        types: [file]
        language: script
        entry: .pre-commit-scripts/ui-lint.sh
      - id: build-platforms
        name: Build Platforms
        files: \.go$
        types: [file]
        language: script
        entry: .pre-commit-scripts/build-platforms.sh

Set permissions for Dependabot auto merges
  .github/workflows/ci_checks.yml
Due: none

Update latest release text
  .github/workflows/ci_checks.yml
Due: none

Update README
  README.md
Due: none

Remove unused pages
  ui/src/app/Backends/Backends.tsx
  ui/src/app/Services/Services.tsx
  ui/src/app/routes.tsx
Due: ui-lint

Fix generated routes
  internal/ui_embed/routes_gen.go
Due: build-platforms

Move some SSH functions out of cmd main
  cmd/connectopus/connectopus.go
  pkg/x/ssh_jwt/ssh_jwt.go
  pkg/x/ssh_jwt/ssh_jwt_test.go
Due: build-platforms

Separate Server from Resolver
  cmd/connectopus/connectopus.go
  pkg/cpctl/cpctl_server.go
  pkg/cpctl/cpctl_test.go
Due: build-platforms

Implement SSH token auth for UI
  cmd/connectopus/connectopus.go
  pkg/cpctl/cpctl_server.go
  pkg/cpctl/cpctl_test.go
  pkg/x/ssh_jwt/http_handler.go
  pkg/x/ssh_jwt/ssh_jwt.go
Due: build-platforms

Add OOB protocol
  go.mod
  go.sum
  pkg/netopus/netopus.go
  pkg/netopus/oob_conn.go
  pkg/netopus/oob_conn_test.go
  pkg/proto/netopus.go
  pkg/proto/proto.go
Due: build-platforms

Update generated runtime
  pkg/cpctl/gql_runtime_gen.go
Due: build-platforms

Test larger than MTU data
  pkg/netopus/oob_conn.go
  pkg/netopus/oob_conn_test.go
Due: build-platforms

Fix GO_VERSION variable
  .github/workflows/ci_checks.yml
Due: none

Remove NoDelay for now
  pkg/netopus/oob_conn.go
Due: build-platforms

Add RouteOOB and use it for routing messages
  .github/workflows/ci_checks.yml
  cmd/connectopus/connectopus.go
  pkg/backends/backend_dtls/backend_dtls.go
  pkg/backends/backend_pair/backend_pair.go
  pkg/backends/backends.go
  pkg/backends/channel_runner/channel_runner_test.go
  pkg/netopus/netopus.go
  pkg/netopus/netopus_test.go
  pkg/netopus/oob_conn.go
  pkg/netopus/oob_conn_test.go
  pkg/proto/netopus.go
  pkg/proto/proto.go
  pkg/proto/proto_test.go
  pkg/router/router.go
  pkg/services/services.go
  pkg/services/services_test.go
  pkg/x/syncro/var.go
Due: build-platforms

Remove debugging code
  pkg/links/links_test.go
  pkg/links/netns/netns_linux.go
  pkg/netopus/netopus_test.go
Due: build-platforms

Add connectopus ui command
  cmd/connectopus/connectopus.go
  pkg/cpctl/cpctl_client.go
  pkg/cpctl/cpctl_proxy.go
  pkg/cpctl/cpctl_server.go
  pkg/cpctl/cpctl_test.go
  pkg/x/bridge/bridge.go
Due: build-platforms

Skip platforms checks for now
  .github/workflows/ci_checks.yml
Due: none

Pageant on Windows + socket always authenticated
  cmd/connectopus/connectopus.go
  go.mod
  go.sum
  pkg/cpctl/cpctl_client.go
  pkg/cpctl/cpctl_server.go
  pkg/cpctl/cpctl_test.go
  pkg/proto/ssh_keys.go
  pkg/x/ssh_jwt/pageant_stub.go
  pkg/x/ssh_jwt/pageant_windows.go
  pkg/x/ssh_jwt/ssh_agent.go
  pkg/x/ssh_jwt/ssh_jwt.go
Due: build-platforms

Don't skip build based on dir mtime
  Makefile
Due: none

Don't offer nsenter command on non-Linux
  cmd/connectopus/connectopus.go
Due: build-platforms

Delete socket file on exit
  pkg/cpctl/cpctl_server.go
  pkg/cpctl/cpctl_test.go
  pkg/x/file_cleaner/file_cleaner.go
  pkg/x/file_cleaner/file_cleaner_test.go
Due: build-platforms

Add UI to get the token if unauthorized
  cmd/connectopus/connectopus.go
  internal/ui_embed/ui_embed.go
  pkg/config/config.go
  pkg/cpctl/cpctl_client.go
  pkg/cpctl/cpctl_server.go
  pkg/x/ssh_jwt/http_handler.go
  test.yml
  ui/package-lock.json
  ui/package.json
  ui/src/app/Unauthorized/Unauthorized.tsx
  ui/src/app/index.tsx
  ui/src/app/routes.tsx
  ui/src/index.html
Due: ui-lint, build-platforms

Allow manually running platform checks
  .github/workflows/ci_checks.yml
Due: none

Add --node and don't launch UI until socketfile assured
  cmd/connectopus/connectopus.go
  pkg/config/config.go
  pkg/cpctl/cpctl_client.go
  pkg/cpctl/cpctl_test.go
Due: build-platforms

Add TCP/TLS backend
  pkg/backends/backend_registry/backend_registry.go
  pkg/backends/backend_tcp/backend_tcp.go
  pkg/backends/backend_tcp/backend_tcp_test.go
  pkg/backends/backends.go
  pkg/config/config.go
  pkg/x/makecert/makecert.go
  pkg/x/makecert/makecert_test.go
Due: build-platforms

Add profiling support
  .gitignore
  cmd/connectopus/connectopus.go
  pkg/cpctl/cpctl_server.go
  pkg/links/netns/netns_linux.go
  pkg/links/netns/netns_test.go
  pkg/x/exit_handler/exit_handler.go
  pkg/x/file_cleaner/file_cleaner.go
  profile.sh
Due: build-platforms

Suppress goleak detection in DTLS
  Makefile
  pkg/backends/backend_dtls/backend_dtls_test.go
Due: build-platforms

Reduce test timeout
  Makefile
Due: none

Drop unneeded test
  pkg/netopus/netopus_test.go
Due: build-platforms

Better MTU calculations
  Makefile
  cmd/connectopus/connectopus.go
  pkg/backends/backend_dtls/backend_dtls.go
  pkg/backends/backend_registry/backend_registry.go
  pkg/backends/backend_tcp/backend_tcp.go
  pkg/config/config.go
  pkg/netopus/netopus.go
Due: build-platforms

Add setup-tunnel command
  Makefile
  cmd/connectopus/connectopus.go
  pkg/links/links.go
  pkg/links/links_test.go
  pkg/links/netns/netns_linux.go
  pkg/links/netns/netns_stub.go
  pkg/links/tun/tun_linux.go
  pkg/links/tun/tun_stub.go
  pkg/links/tun/tun_test.go
  pkg/netopus/netopus.go
  pkg/netstack/netstack_channel.go
  pkg/netstack/netstack_fdbased.go
  pkg/proto/netopus.go
Due: build-platforms

Improve info-level logging
  cmd/connectopus/connectopus.go
  pkg/netopus/netopus.go
Due: build-platforms

Remove CPU profiling CLI
  cmd/connectopus/connectopus.go
Due: build-platforms

Rearrange connectopus.go
  cmd/connectopus/connectopus.go
Due: build-platforms

Make config items reconcilable
  cmd/connectopus/connectopus.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/params.go
  pkg/connectopus/connectopus.go
  pkg/links/netns/netns_linux.go
  pkg/netopus/netopus.go
  pkg/x/expector/expector.go
  pkg/x/reconciler/reconciler.go
  pkg/x/reconciler/reconciler_test.go
  test.yml
Due: build-platforms

Remove hooktest - not going to do libc hooks
  hooktest/.gitignore
  hooktest/Makefile
  hooktest/SYSCALLS.txt
  hooktest/lookup/lookup.go
  hooktest/preload/preload.go
Due: build-platforms

Allow config editing
  cmd/connectopus/connectopus.go
  go.mod
  go.sum
  pkg/connectopus/connectopus.go
  pkg/cpctl/cpctl_resolver.go
  pkg/cpctl/cpctl_server.go
  pkg/cpctl/cpctl_test.go
  pkg/cpctl/gql_client_gen.go
  pkg/cpctl/gql_models_gen.go
  pkg/cpctl/gql_runtime_gen.go
  pkg/cpctl/gqlgen.yml
  pkg/cpctl/graphql/_schema.graphqls
  pkg/cpctl/graphql/config.graphql
  pkg/x/reconciler/reconciler.go
Due: build-platforms

Make TCP listener/dialer respect context
  pkg/backends/backend_dtls/backend_dtls_test.go
  pkg/backends/backend_tcp/backend_tcp.go
Due: build-platforms

Add logging of item start and stop
  pkg/connectopus/connectopus.go
  pkg/links/tun/tun_linux.go
  pkg/x/reconciler/reconciler.go
  pkg/x/reconciler/reconciler_test.go
Due: build-platforms

Fix typo
  test.yml
Due: none
